@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

@import url('https://fonts.googleapis.com/css?family=Warnes&display=swap');

  
  /* تغيير لون شريط التمرير */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* تغيير لون الخلفية لشريط التمرير */
  ::-webkit-scrollbar-track {
    background: #ddd; /* لون الخلفية */
  }
  
  /* تغيير لون مقبض التمرير */
  ::-webkit-scrollbar-thumb {
    background: #000000; /* لون المقبض */
    border-radius: 10px;
  }
  
  /* تغيير لون المقبض عند التحويم عليه */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  