@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --text-dark: #000000;
  --text-light: #727274;
  --extra-light: #f3f4f6;
  --white: #ffffff;
  --max-width: 1200px;
  --header-font: "Montserrat", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.btn {
  max-width: fit-content;
  padding: 0.75rem 3.5rem;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  font-family: var(--header-font);
  white-space: nowrap;
  color: #ffffff;
  background-color: #000000;
  border-radius: 2rem;
  transition: 0.5s;
  cursor: pointer;
}

.btn:hover {
  color: var(--text-dark);
  background-color: var(--extra-light);
}

img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  position: fixed;
  isolation: isolate;
  width: 100%;
  max-width: var(--max-width);
  margin-inline: auto;
  z-index: 9;
}

.nav__header {
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--text-dark);
}

.nav__logo img {
  max-width: 150px;
}

.logo-dark {
  display: none;
}

.nav__menu__btn {
  font-size: 1.5rem;
  color: var(--white);
  cursor: pointer;
}

.nav__links {
  position: absolute;
  top: 65px;
  left: 0;
  width: 100%;
  padding: 2rem;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--text-dark);
  transition: 0.5s;
  z-index: -1;
  transform: translateY(-100%);
}

.nav__links.open {
  transform: translateY(0);
}

.nav__links a {
  font-weight: 500;
  white-space: nowrap;
  color: var(--white);
  transition: 0.3s;
}

.nav__links .btn {
  padding-inline: 1.5rem;
  color: var(--text-dark);
  background-color: var(--white);
  border-radius: 5px;
}

.header__container {
  display: grid;
  gap: 2rem;
}

.header__image {
  position: relative;
  isolation: isolate;
  overflow: hidden;
}

.header__image img {
  max-width: 450px;
  margin-inline: auto;

}

img.header-bg {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  max-width: 350px;
  opacity: 0.05;
  z-index: -1;
}

.header__image__content {
  text-align: center;
}

.header__image__content h4 {
  margin-bottom: 5px;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-dark);
}

.header__content {
  text-align: center;
}

.header__content h1 {
  margin-bottom: 1.5rem;
  font-size: 3rem;
  font-weight: 700;
  font-family: var(--header-font);
  color: var(--text-dark);
  line-height: 3rem;
}

.header__content p {
  font-weight: 500;
  color: var(--text-light);
}

.product {
  overflow: hidden;
  background-image: radial-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 1));
}

.product__grid {
  margin-bottom: 4rem;
  display: grid;
  gap: 4rem;
}

.product__image img {
  max-width: 350px;
  margin-inline: auto;
  object-fit: cover;
  border-radius: 20px;
  filter: opacity(0.85);
}


.product__content {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  flex-direction: column;
}

.product__card {
  text-align: center;
}

.product__card h4 {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 600;
  font-family: var(--header-font);
  color:#ccc;
}

.product__card p {
  margin-bottom: 1rem;
  font-weight: 500;
  color:#ccc;
}

.product__card a {
  font-weight: 500;
  color:#ccc;
}

.product__card a:hover {
  color: var(--white);
}

.product__colors {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.product__colors > div {
  width: 30px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-light);
  border-radius: 100%;
  cursor: pointer;
}

.product__colors > div:nth-child(1) {
  background-color: #3a3a3a;
}

.product__colors > div:nth-child(2) {
  background-color: #efefef;
}

.product__colors > div:nth-child(3) {
  background-color: #da372b;
}

.product__colors > div:nth-child(4) {
  background-color: #2d6890;
}

.product__colors > div:nth-child(5) {
  background-color: #754e27;
}

.product__btn {
  text-align: center;
 
}

.product__btn .btn {
  color: var(--text-dark);
  background-color: #ffffffbd;
}

.product__btn .btn:hover {
  color:white;
  background-color: var(--extra-light);
}

.store__container h2 {
  margin-bottom: 0.5rem;
  font-size: 2rem;
  font-weight: 700;
  font-family: var(--header-font);
  color: var(--text-dark);
  text-align: center;
}

.store__container p {
  margin-bottom: 4rem;
  font-weight: 500;
  color: var(--text-light);
  text-align: center;
}

.swiper {
  width: 100%;
  padding-bottom: 5rem;
  border: #000000;
}

.swiper-slide {
  max-width: 400px;
}

.store__card h4 {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: var(--header-font);
  color: var(--text-dark);
  text-align: center;
}

.store__card img {
  max-width: 325px;
  margin-inline: auto;
  margin-bottom: 2rem;
}

.store__card h3 {
  font-size: 1.75rem;
  font-weight: 700;
  font-family: var(--header-font);
  color: var(--text-dark);
  text-align: center;
}

.swiper-pagination-bullet-active {
  background-color: var(--text-dark);
}

.footer {
  background-color: var(--text-dark);
}

.footer__container img {
  margin-bottom: 2rem;
  max-width: 225px;
  margin-inline: auto;
}

.footer__socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.footer__socials a {
  padding: 2px 7px;
  font-size: 1.5rem;
  color: var(--text-dark);
  background-color: var(--white);
  border-radius: 100%;
}

.footer__socials a:hover {
  color: var(--white);
  background-color: var(--text-light);
}

.footer__bar {
  padding: 1rem;
  font-size: 0.9rem;
  color: var(--text-light);
  text-align: center;
}

@media (width > 768px) {
  nav {
    position: static;
    padding-block: 2rem 0;
    padding-inline: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }

  .nav__header {
    padding: 0;
    background-color: transparent;
  }

  .nav__logo img {
    max-width: 175px;
  }

  .logo-white {
    display: none;
  }

  .logo-dark {
    display: flex;
  }

  .nav__menu__btn {
    display: none;
  }

  .nav__links {
    position: static;
    padding: 0;
    flex-direction: row;
    justify-content: flex-end;
    gap: 2rem;
    background-color: transparent;
    transform: none;
  }

  .nav__links a {
    color: var(--text-dark);
  }

  .nav__links a:hover {
    color: var(--text-light);
  }

  .nav__links .btn {
    color: var(--white);
    background-color: var(--text-dark);
  }

  .header__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .header__image {
    grid-area: 1/2/2/3;
  }

  .header__image img {
    margin-inline-start: unset;
  }

  .header__image__content {
    position: absolute;
    right: 0;
    bottom: 2rem;
  }

  .header__content {
    text-align: left;
  }

  .header__content h1 {
    font-size: 3.5rem;
    line-height: 3.5rem;
  }

  .product__grid {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .product__card {
    text-align: left;
  }

  .product__colors {
    justify-content: flex-start;
  }
}
/* From Uiverse.io by Prince4fff */ 
.card p {
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  color: #666;
}

.card p.small {
  font-size: 14px;
}

.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 32px;
  height: 32px;
  overflow: hidden;
  top: 0;
  right: 0;
  background-color: #3d2f2f;
  border-radius: 0 4px 0 32px;
}

.go-arrow {
  margin-top: -4px;
  margin-right: -4px;
  color: white;
  font-family: courier, sans;
}

.card1 {
  display: block;
  position: relative;
  max-width: 262px;
  background-color: #ffffff;
  border-radius: 4px;
  border-color: #000000;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  color: #000000;
  box-shadow: 0 0 8px rgba(63, 63, 63, 0.5);
  shape-margin: 55px;
}

.card1:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: #242424;
  height: 32px;
  width: 32px;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.25s ease-out;
  box-shadow: 0 0 8px rgba(63, 63, 63, 0.5);
}

.card1:hover:before {
  transform: scale(21);
}

.card1:hover p {
  transition: all 0.3s ease-out;
  color: rgba(255, 255, 255, 0.8);
}

.card1:hover h3 {
  transition: all 0.3s ease-out;
  color: #fff;
}

.card2 {
  display: block;
  top: 0px;
  position: relative;
  max-width: 262px;
  background-color: #f2f8f9;
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  border: 1px solid #f2f8f9;
}

.card2:hover {
  transition: all 0.2s ease-out;
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
  top: -4px;
  border: 1px solid #ccc;
  background-color: white;
}

.card2:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: #00838d;
  height: 32px;
  width: 32px;
  border-radius: 32px;
  transform: scale(2);
  transform-origin: 50% 50%;
  transition: transform 0.15s ease-out;
}

.card2:hover:before {
  transform: scale(2.15);
}

.card3 {
  display: block;
  top: 0px;
  position: relative;
  max-width: 262px;
  background-color: #f2f8f9;
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  overflow: hidden;
  border: 1px solid #f2f8f9;
}

.card3 .go-corner {
  opacity: 0.7;
}

.card3:hover {
  border: 1px solid #00838d;
  box-shadow: 0px 0px 999px 999px rgba(255, 255, 255, 0.5);
  z-index: 500;
}

.card3:hover p {
  color: #00838d;
}

.card3:hover .go-corner {
  transition: opactiy 0.3s linear;
  opacity: 1;
}

.card4 {
  display: block;
  top: 0px;
  position: relative;
  max-width: 262px;
  background-color: #fff;
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  overflow: hidden;
  border: 1px solid #ccc;
}

.card4 .go-corner {
  background-color: #2b2b2b;
  height: 100%;
  width: 16px;
  padding-right: 9px;
  border-radius: 0;
  transform: skew(6deg);
  margin-right: -36px;
  align-items: start;
  background-image: linear-gradient(-45deg, #8f479a 1%, #dc2a74 100%);
}

.card4 .go-arrow {
  transform: skew(-6deg);
  margin-left: -2px;
  margin-top: 9px;
  opacity: 0;
}

.card4:hover {
  border: 1px solid #cd3d73;
}

.card4 h3 {
  margin-top: 8px;
}

.card4:hover .go-corner {
  margin-right: -12px;
}

.card4:hover .go-arrow {
  opacity: 1;
}

.square_box {
    position: absolute;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border-top-left-radius: 45px;
    opacity: 0.302;
}

.square_box.box_three {
    background-image: -moz-linear-gradient(-90deg, #290a59 0%, #3d57f4 100%);
    background-image: -webkit-linear-gradient(-90deg, #290a59 0%, #3d57f4 100%);
    background-image: -ms-linear-gradient(-90deg, #290a59 0%, #3d57f4 100%);
    opacity: 0.059;
    left: -80px;
    top: -60px;
    width: 500px;
    height: 500px;
    border-radius: 45px;
}

/* استعلام وسائط للشاشات الصغيرة */
@media (max-width: 768px) {
  .square_box.box_three {
      width: 80vw;   /* ضبط العرض ليكون 80% من عرض الشاشة */
      height: 80vw;  /* الحفاظ على نفس النسبة للطول والعرض */
      left: 10px;    /* تعديل الموقع */
      top: 20px;     /* تعديل الموقع */
      border-radius: 25px;  /* تعديل نصف القطر */
  }
}

.custom-toast {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #000000;
  color: white;
  padding: 15px;
  border-radius: 5px;
  display: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  z-index: 9999;
  transition: opacity 0.5s ease-in-out;
}

.custom-toast.show {
  display: block;
  opacity: 1;
}



.square_box.box_four {
    background-image: -moz-linear-gradient(-90deg, #290a59 0%, #3d57f4 100%);
    background-image: -webkit-linear-gradient(-90deg, #290a59 0%, #3d57f4 100%);
    background-image: -ms-linear-gradient(-90deg, #290a59 0%, #3d57f4 100%);
    opacity: 0.059;
    left: 150px;
    top: -25px;
    width: 550px;
    height: 550px;
    border-radius: 45px;
}
/* استعلام وسائط للشاشات الصغيرة */
@media (max-width: 768px) {
  .square_box.box_four {
    width: 40vw;   /* ضبط العرض ليكون 80% من عرض الشاشة */
    height: 20vw;  /* الحفاظ على نفس النسبة للطول والعرض */
    left: 20px;    /* تعديل الموقع */
    top: 10px;     /* تعديل الموقع */
    border-radius: 25px; 
     opacity: 0.059;/* تعديل نصف القطر */
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.alert {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  padding: 15px 20px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  font-size: 18px;
  font-weight: bold;
}

.closebtn {
  margin-left: 15px;
  color: black;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
}


/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}


/**
 * ----------------------------------------
 * animation blink-1
 * ----------------------------------------
 */

